

{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block body %}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<!-- Код для регистрации -->
<form action="" method="post" class="form-contact">
    <div class="mb-3">
        <label for="name" class="form-label">Имя:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Роль:</label>
        <select class="form-control" id="role" name="role" required>
            <option value="1">Администратор</option>
            <option value="2">Руководитель</option>
            <option value="3">Сотрудник</option>
        </select>
    </div>    
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="psw" class="form-label">Пароль:</label>
        <input type="password" class="form-control" id="psw" name="psw" required>
    </div>
    <div class="mb-3">
        <label for="psw2" class="form-label">Повтор пароля:</label>
        <input type="password" class="form-control" id="psw2" name="psw2" required>
    </div>
    <button type="submit" class="btn btn-primary">Регистрация</button>
</form>

{% endblock %}